@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

header {
    padding: 0.3em;
    margin: 0;
    background-color:#ffdead;
    background-image: url(img/jeremy-perkins-uhjiu8FjnsQ-unsplash\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    font-family: 'MuseoModerno', cursive;
}

h1 {
    color: black;
    text-align: center;
}

h2 {
    color: white;
    margin: auto;
    padding: 1em;
    font-family: 'MuseoModerno', cursive;;
}

body {
    margin: auto;
    background-color: rgb(131, 131, 131);
    background-blend-mode: multiply;
    font-family: 'DM Sans', sans-serif;
    margin-bottom: 6em;
    width: 100%;
    background-image: url(img/jeremy-perkins-uhjiu8FjnsQ-unsplash\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

p {
    margin: 0 3em;
    align-content: center;
    color: white;
    padding: 0;
}

input {
    border-radius: 2em;
    border: none;
    padding: 0.6em;
    font-family: 'DM Sans', sans-serif;
    background-color: white;
}

img {
    text-align: center;
    margin: auto;
    display: block;
}

.input {
    padding-bottom: 3em;
    align-content: center;
    text-align: center;
}

.button {
    background-color: #ffe388;
    color: black;
    width: 5em;
}

.display {
    color: white;
    margin-bottom: 3em;
}

.date {
    color: white;
    text-align: center;
    padding-left: 0;
    font-family: 'MuseoModerno', cursive;;
}

.text {
    padding: 3em 0;
}

@media screen and (min-width: 45em) {
    
    h2 {
        max-width: 25em;
        margin: auto;
    }
   
    p {
        justify-content: center;
        max-width: 35em;
        margin: auto;
    }

    h1 {
        text-align: left;
        padding-left: 1em;
    }
}